<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Movie</servlet-name>
        <servlet-class>controller.MovieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Movie</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>controller.AboutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>controller.SignOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>controller.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>controller.LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFilm</servlet-name>
        <servlet-class>controller.AddFilm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddFilm</servlet-name>
        <url-pattern>/adminpage</url-pattern>
    </servlet-mapping>
</web-app>
